{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Contribution List {% endblock %}</h1>
    {% for item in contribution %}
        <a href="#">
            <h2>{{ item['contribution_id'] }}</h2>
            <ul>
                <li>Person ID: {{ item['person_id'] }}</li>
                <li>KS ID: {{ item['ks_id'] }}</li>
                <li>Contribution Type: {{ item['contribution_type'] }}</li>
            </ul>
        </a>
        <a href="{{ url_for('contribution_edit', contribution_id=item['contribution_id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}