{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Knowledge Source List {% endblock %}</h1>
    {% for ks in knowledge_source %}
        <a href="#">
            <h2>{{ ks['ks_name'] }}</h2>
            <ul>
                <li>Content type: {{ ks['ls_type'] }}</li>
                <li>Area: {{ ks['area'] }}</li>
                <li>Greater Area: {{ ks['greater_area'] }}</li>
            </ul>
        </a>
        <span class="badge badge-primary">{{ ks['ks_created_at'] }}</span>
        <a href="{{ url_for('ks_edit', ks_id=ks['ks_id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}