{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <h3>Welcome to my Study Manager!</h3>
    <p>
        This is a personal project to practice Python applications, expand my knowledge and allow me to measure how ignorant I am!

        Literally, the idea is to map the content I'm interest into, such as books, podcasts, classes, etc.

        Scope is:
    </p>
    <p>
        <li>Work with databases to properly store the user data and metadata</li>
        <li>Work with pipelines to clean raw data, stablish connections and create transformed tables</li>
        <li>Work with data modeling to gather presentation requirements and build metrics and presentation layer</li>
        <li>Learn and implement front end techniques to allow user interaction*</li>
        <li>Work with git for version control and documentation</li>
    </p>
    
{% endblock %}