{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit an Existing Knowlwdge Source (ID: {{ ks['ks_id'] }}) {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="ks_name">Insert KS name:</label>
        <input type="text" name="ks_name"
               placeholder="KS Name" class="form-control"
               value="{{ request.form['ks_name'] or ks['ks_name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="ks_type">Insert KS type: Book, Article, Movie, Podcast, or Univ Discipline</label>
        <input ype="text"  name="ks_type" placeholder="Book, Article, Movie, Podcast, or Univ Discipline"
         class="form-control" value="{{ request.form['ks_type'] or ks['ks_type'] }}"> </input>
    </div>

    <div class="form-group">
        <label for="main_person_id">Insert Main Person ID:</label>
        <input ype="text"  name="main_person_id" placeholder="Main Person ID"
         class="form-control" value="{{ request.form['main_person_id'] or ks['main_person_id'] }}"> </input>
    </div>

    <div class="form-group">
        <label for="area">Insert Area:</label>
        <input ype="text"  name="area" placeholder="Area"
         class="form-control" value="{{ request.form['area'] or ks['area'] }}"> </input>
    </div>

    <div class="form-group">
        <label for="greater_area">Insert Greater Area:</label>
        <input ype="text"  name="greater_area" placeholder="Greater Area"
         class="form-control" value="{{ request.form['greater_area'] or ks['greater_area'] }}"> </input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form action="{{ url_for('ks_delete', ks_id=ks['ks_id']) }}" method="POST">
    <input type="submit" value="Delete KS"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this KS?')">
</form>

{% endblock %}